<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jQuery竖直线性时间轴代码 - 站长素材</title>

<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="inc/colorbox.css" type="text/css" media="screen">

</head>
<body>

<div class="container" >

	
	<div id="timelineContainer" class="timelineContainer">

		<div class="timelineToggle"><p><a class="expandAll">+ 全部展开</a></p></div>

		<br class="clear">

		<div class="timelineMajor">
			<dl class="timelineMinor">
				<dt id="19550828"><a>艾莫特·泰尔</a></dt>
				<dd class="timelineEvent" id="19550828EX" style="display:none;">
				
					<p>十四岁的非裔美国人埃米特被残忍杀害后，据说与白人妇女在访问亲戚在密西西比州。这是第一次，黑人和白人记者报道这次审判的集大成者”之一的第二十世纪最令人震惊的和持久的故事。”白被告，Roy Bryant和J.W. Milam，都被一个白人陪审团仅67分钟；后来他们详细描述为看杂志（付给他们4000美元）他们杀了为止。母亲坚持开放的棺材，和他残缺的身体，强大的图像引起强烈的反应，在全国和世界。</p>

					<br class="clear">
				</dd><!-- /.timelineEvent -->
			</dl><!-- /.timelineMinor -->


			<dl class="timelineMinor">
				<dt id="19551201"><a>罗萨公园</a></dt>
				<dd class="timelineEvent" id="19551201EX" style="display:none;">
				
					<p>
						The arrest of Rosa Parks, a 42-year-old African-American seamstress and civil rights activist who refused to give up her bus seat to a white passenger, sets off a long anticipated bus boycott by residents of Montgomery, Ala. The 13-month protest and ensuing litigation eventually make it to the U.S. Supreme Court, which declares that segregation on public buses is unconstitutional.<sup>4</sup> The Montgomery bus boycott brings the Rev. Dr. Martin Luther King Jr. and his nonviolent approach to social change to the forefront of the civil rights movement.</p>

						<br class="clear">
				</dd><!-- /.timelineEvent -->
			</dl><!-- /.timelineMinor -->
		</div><!-- /.timelineMajor -->

	

	
		<br class="clear">
	</div><!-- /#timelineContainer -->

</div><!-- /.container -->

<!-- GLOBAL CORE SCRIPTS -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="inc/colorbox.js"></script>
<script type="text/javascript" src="js/timeliner.min.js"></script>
<script>
	$(document).ready(function() {
		$.timeliner({
			startOpen:['#19550828EX', '#19630828EX']
		});
		$.timeliner({
			timelineContainer: '#timelineContainer_2'
		});
		// Colorbox Modal
		$(".CBmodal").colorbox({inline:true, initialWidth:100, maxWidth:682, initialHeight:100, transition:"elastic",speed:750});
	});
</script>


</body>
</html>
